<h1>Contact us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success"> Your data is valid!!! </h5>
  
  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
      Message:
      <input type="text" formControlName="message">
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">Your message is required</div>
      </digitv>
  </label>

  <input type="submit" value="Send feedback" class="sbmt">
</form>

<div *ngIf="submitted" class="submitted-msg" >
  <strong>Name:</strong>
  <span>{{messageForm.controls.name.value}} </span>
  <br>
  <strong>Message:</strong>
  <span>{{messageForm.controls.message.value}} </span>
</div>
